/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');



@font-face {
    font-family: 'Gobold Regular';
    src: url('../fonts/gobold\ extra1.ttf');
}

@font-face {
    font-family: 'Lobster Regular';
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico Regular';
    src: url('../fonts/Pacifico-Regular.ttf');
}

body {
    /* font-family: 'Gobold Regular'; */
    /* font-family: 'Barlow Condensed', sans-serif !important; */
    /* font-family: georgia; */
    font-family: 'Poppins', sans-serif;
    /* background-image: url(../img/footer-bg.jpg); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* padding-bottom: 650px; */
    /* background-color: #f2f1ed; */
}

#navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
    width: 100%;
    z-index: 9999;
}

.navbar-brand {
    display: none;
}

#venue,
#groomsmen,
#photos,
.date-area,
#countdown-section,
#our_stories,
#banner {
    scroll-margin-top: 58px;
}

.navigation-list {
    font-size: 18px;
    color: #000;
}

.animate__animated {
    animation-delay: 100ms;
}

.navbar-nav {
    align-items: center;
}

.navbar-light .navigation-list .navbar-nav .nav-link {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

.hearts-icon {
    padding: 10px 30px;
    width: 90px;
    z-index: 2;
    position: relative;
}

.hearts-underline span {
    position: relative;
    display: inline-block;
}

.hearts-underline span:before,
.hearts-underline span:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 1px;
    background-color: #000;
    z-index: 1;
}

.hearts-underline span:before {
    left: -30%;
}

.hearts-underline span:after {
    right: -30%;
}

.hearts-underline .hearts-icon {
    /* padding: 0 50px; */
}

.section-heading>h3 {
    text-transform: uppercase;
    font-size: 35px;
}

#banner {
    background-image: url(../img/banner-new.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-content {
    width: 100%;
    height: 100%;
    /* margin: 5rem auto; */
    padding: 5rem 0;
    color: #fff;
    background-color: #00000044;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-content h1 {
    font-size: 60px;
    font-family: 'Parisienne', cursive;
    text-transform: capitalize;
}

.banner-content p {
    font-size: 24px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.banner-content .hearts-underline {
    margin: 0 0;
}

#our_stories label {
    color: purple;
    font-size: 14px;
    text-transform: capitalize;
    margin: 10px 0;
    display: block;
}

#our_stories h3 {
    font-size: 30px;
    margin: 15px 0 10px;
}

.date-area {
    background: linear-gradient(45deg, red, purple);
    background-size: cover;
}

.date-section h3 {
    padding: 62px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.wrap {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 310px;
}

section p.numbers {
    font-size: 3em;
    margin: 0;
}

section p.meta {
    font-size: 1.5em;
}

section .meta b,
.meta a {
    color: purple;
    display: inline-block;
}

section h1 {
    font-size: 40px;
}

.couple-pic {
    border: 8px solid;
    border-image-slice: 1;
    border-width: 8px;
    border-image-source: linear-gradient(45deg, red, purple);
    border-radius: 0;
    background: linear-gradient(45deg, red, purple);
    width: 50%;
}

#our_stories .about-couple-title{
    font-family: 'Lobster Regular';
    font-size: 25px;
}

.about-couple {
    margin: 1rem 0;
    font-size: 15px;
    padding: 0 20px;
}

#our_stories {
    background-color: #f2f1ed;
}

#countdown-section,
#groomsmen {
    background-color: #f2f1ed;
    padding: 3rem 0;
}

/* countdown styles */

div#countdown {
    color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div#countdown p {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
}

p.numbers {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    margin-top: 0;
    padding-top: 0;
    font-weight: 600;
    background: linear-gradient(156deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.strings {
    width: 100%;
    height: auto;
    padding: 30px 0;
    margin-bottom: 0;
    font: 15px sans-serif;
    font-weight: 600;
}

.countdown-img {
    width: 200px;
    margin: 0 2rem;
}

.info-content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-left: 5px solid red !important;
    border: 1px solid #cccc;
    box-shadow: 0 0 20px 0px #cccccc87;
}

div.cd-box {
    width: 13%;
    height: auto;
    background: #FFFFFF;
    float: left;
    padding: 10px 0;
    margin: 0;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    border-radius: 5px;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

.owl-dots {
    counter-reset: dots;
}

.owl-dot span:before {
    counter-increment: dots;
    content: counter(dots);
}

.owl-theme .owl-dots .owl-dot span {
    background: url(../img/bg-nav-circles.png) no-repeat scroll 0 0 transparent !important;
    color: #2e2e2e;
    cursor: pointer;
    display: inline;
    float: left;
    font-family: 'KnockoutHTF49-Liteweight';
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

#photos,
#countdown-section {
    background-color: #fff;
}

#photos .owl-thumbs {
    margin-top: 1rem;
    padding-bottom: 10px;
    overflow-x: auto;
    display: flex;
    gap: 0 10px;
}

/* width */
#photos .owl-thumbs::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

/* Track */
#photos .owl-thumbs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#photos .owl-thumbs::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, red, purple);
    border-radius: 10px;
}

/* Handle on hover */
#photos .owl-thumbs::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, red, purple);
}

#photos button.owl-thumb-item {
    border: none;
}

#photos button.owl-thumb-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

#photos .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
#groomsmen .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
#groomsmen .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background-position: 0 -20px !important;
    color: #ffffff;
}

#bridemaid .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
#bridemaid .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background-position: 0 -40px !important;
    color: #ffffff;
}

#groomsmen .owl-carousel .person .name,
#bridemaid .owl-carousel .person .name {
    color: #000;
    font-size: 34px;
    font-style: italic;
    margin: 0 0 5px;
}

#groomsmen .owl-carousel .person .title,
#bridemaid .owl-carousel .person .title {
    color: #000;
    font-size: 20px;
}

#groomsmen .owl-carousel .person .bio,
#bridemaid .owl-carousel .person .bio {
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    margin: 30px 0 15px;
}

.testimony-wrap {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 5px;
}

.testimony-wrap .text {
    height: 200px;
    overflow: hidden;
    transition: all 300ms;
}

.testimony-wrap:hover .text {
    overflow: auto;
}

/* width */
.testimony-wrap .text::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.testimony-wrap .text::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.testimony-wrap .text::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, red, purple);
    border-radius: 10px;
}

/* Handle on hover */
.testimony-wrap .text::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.user-img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    background-size: 100%;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(45deg, red, purple);
    border-radius: 10px;
}

.testimony-wrap .position {
    font-size: 16px;
    color: purple;
}

.testimony-wrap .name {
    margin: 0 0 0;
}

.testimony-wrap p.mb-4 {
    font-size: 14px;
    margin-bottom: 0 !important;
}

.box1-top {
    background: url(../img/bg-box1-top.png) no-repeat scroll center top transparent;
    margin: 0 auto 15px;
    padding: 135px 0 0;
    position: relative;
    width: 739px;
}

.box1-middle h3 {
    color: #8A0000;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    text-transform: uppercase;
    top: 50px;
    width: 100%;
    text-align: center;
}

.box1-bottom {
    background: url(../img/bg-box1-bottom.png) no-repeat scroll center bottom transparent;
    margin: 0 auto;
    padding: 0 0 86px;
    width: 100%;
    text-align: center;
}

#venue {
    background-color: #fdfdfd;
}

@media screen and (max-width: 1024px) {
    .py-5 {
        padding-bottom: 5rem !important;
        padding-top: 5rem !important;
    }

    .banner-content {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 900px) {
    .navbar-light .navigation-list .navbar-nav .nav-link {
        font-size: 15px;
        padding: 10px 10px;
    }

    .py-5 {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }

    .couple-pic {
        width: 80%;
    }

    .testimony-wrap .text {
        overflow: auto;
    }

}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .navbar-brand {
        display: inline;
        margin-left: 1rem;
        font-weight: bold;
        background: linear-gradient(156deg, red, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-content h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    #our_stories .col-sm-6 {
        margin-bottom: 1rem;
    }

    .section-heading>h3 {
        text-transform: uppercase;
        font-size: 25px;
    }

    div#countdown {
        flex-direction: column;
    }

    .couple-pic {
        border: 5px solid;
        border-width: 5px;
        border-image-source: linear-gradient(45deg, red, purple);
        border-radius: 0;
        background: linear-gradient(45deg, red, purple);
        width: 50%;
    }

    .reverse-mobile{
        flex-direction: column-reverse;
    }

    div.cd-box {
        width: 50%;
        margin: 1rem 0;
    }

    .date-section h3 {
        padding: 50px 20px;
        font-size: 25px;
        line-height: 1.5;
    }

    #photos,
    #groomsmen {
        padding-left: 20px;
        padding-right: 20px;
    }

    #photos button.owl-thumb-item img {
        width: 100px;
        height: auto;
    }

    .info-content {
        margin-top: 2rem;
    }

    /* body {
        padding-bottom: 200px;
    } */

    #navbar {
        background-color: #fff;
        /* box-shadow: none; */
        width: 100%;
        z-index: 9999;
    }

    #navbar .container-fluid {
        padding: 0;
    }

    .navbar-light .navbar-toggler {
        background-color: #000;
        padding: 10px;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: none;
        position: relative;
    }

    .navbar-light .navbar-toggler-icon::after {
        background-image: none;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0c9";
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }

    .navigation-list.navbar-collapse.show,
    .navigation-list.navbar-collapsing {
        background-color: #fff;
    }

    #our_stories h3 {
        font-size: 1.5rem;
    }

    .testimony-wrap p {
        font-size: 14px;
    }
}